<properties>
    <property name="getTopicalList">
        <![CDATA[{
                "query": {
                    "bool": {
                      "must": [
                        #if(${searchValue} != '')
                            {
                              "query_string": {
                                "query": "${searchValue}",
                                "type": "phrase"
                              }
                            },
                        #end
                        #if(${searchValueForNameOrNo} != '')
                            {
                              "query_string": {
                                "fields": [
                                  "std_no",
                                  "std_name"
                                ],
                                "query": "${searchValueForNameOrNo}",
                                "type": "phrase"
                              }
                            },
                        #end
                        #if(${XXX} != '')
                            {
                              "query_string": {
                                "fields": [
                                  "XXX"
                                ],
                                "query": "${XXX}",
                                "type": "phrase"
                              }
                            },
                        #end
                        #if(${XXX} != '')
                            {
                              "query_string": {
                                "fields": [
                                  "XXX"
                                ],
                                "query": "${XXX}",
                                "type": "phrase"
                              }
                            },
                        #end
                        #if(${XXX} != '')
                            {
                              "query_string": {
                                "fields": [
                                  "XXX"
                                ],
                                "query": "${XXX}",
                                "type": "phrase"
                              }
                            },
                        #end
                        #if(${XXX} != '')
                            {
                              "query_string": {
                                "fields": [
                                  "XXX"
                                ],
                                "query": "${XXX}",
                                "type": "phrase"
                              }
                            },
                        #end
                        #if(${XXX} != '')
                            {
                              "term": {
                                "XXX.keyword": ${XXX}
                              }
                            },
                        #end
                        #if(${XXX} != '')
                            {
                              "term": {
                                "XXX.keyword": ${XXX}
                              }
                            },
                        #end
                        #if(${XXX} != '')
                            {
                              "term": {
                                "XXX.keyword": ${XXX}
                              }
                            },
                        #end
                        #if(${XXX} != '')
                            {
                              "term": {
                                "XXX.keyword": ${XXX}
                              }
                            },
                        #end
                        #if(${XXX} != '')
                        {
                          "range": {
                            "XXX": {
                              "gte": "${XXX}",
                              "lt": "${XXX}",
                              "format": "yyyy-MM-dd"
                            }
                          }
                        },
                        #end
                        #if(${XXX} != '')
                        {
                          "range": {
                            "XXX": {
                              "gte": "${XXX}",
                              "lt": "${XXX}",
                              "format": "yyyy-MM-dd"
                            }
                          }
                        },
                        #end
                        #if(${XXX} != '')
                        {
                          "range": {
                            "XXX": {
                              "gte": "${XXX}",
                              "lt": "${XXX}",
                              "format": "yyyy-MM-dd"
                            }
                          }
                        },
                        #end
                        #if(${XXX} != '')
                        {
                          "range": {
                            "XXX": {
                              "gte": "${XXX}",
                              "lt": "${XXX}",
                              "format": "yyyy-MM-dd"
                            }
                          }
                        },
                        #end
                        #if(${XXX} != '')
                        {
                          "range": {
                            "std_do_date": {
                              "gte": "${XXX}",
                              "lt": "${XXX}",
                              "format": "yyyy-MM-dd"
                            }
                          }
                        },
                        #end
                        #if(${XXX} != '')
                        {
                          "range": {
                            "XXX": {
                              "gte": "${XXX}",
                              "lt": "${XXX}",
                              "format": "yyyy-MM-dd"
                            }
                          }
                        },
                        #end
                        #if(${XXX} != '')
                            {
                              "term": {
                                "std_type": ${XXX}
                              }
                            },
                        #end
                        #if(${XXX} == '0')
                            {"exists": {"field": "XXX"}},
                        #end
                        #if(${XXX} == '6')
                        {
                        "exists":{
                                    "field":"XXX"
                                }
                        },
                        {
                        "range":{
                                    "XXX":{
                                        "gt": "now/s"
                                    }
                                }
                        },
                        #end
                        #if(${XXX} == '7')
                        {
                              "exists": {
                                "field": "XXX"
                              }
                            },
                            {
                              "range": {
                                "XXX": {
                                  "lt": "now/s"
                                }
                              }
                            },
                            {
                              "bool": {
                                "should": [
                                  {
                                    "range": {
                                      "XXX": {
                                        "gt": "now/s"
                                      }
                                    }
                                  },
                                  {
                                    "bool": {
                                      "must_not": [
                                        {
                                          "exists": {
                                            "field": "XXX"
                                          }
                                        }
                                      ]
                                    }
                                  }
                                ]
                              }
                            },
                        #end
                        #if(${XXX} == '8')
                        {"exists":{
                            "field":"XXX"
                        }},
                        {"range":{
                            "XXX":{
                                "lte": "now/s"
                            }
                        }},
                        #end
                        {"exists": {"field": "XXX"}}
                      ]
                    }
                  },
                "sort": [
                    {
                      #if(${XXX} == '1')
                      "sort": {
                            "order": "asc"
                          },
                      #end
                      #if(${XXX} != '')
                          "${XXX}": {
                            "order": "XXX"
                          }
                      #end
                      #if(${XXX} == '')
                          "XXX": {
                            "order": "desc"
                          },
                          "XXX": {
                            "order": "desc"
                          }
                      #end
                    }
                  ],
                  "collapse": {
                    "field": "XXX"
                  },
                  "aggs": {
                    "total_size": {
                      "cardinality": {
                        "field": "XXX",
                        "precision_threshold": 40000
                      }
                    }
                  },
                  "from": ${pageFrom},
                  "size": ${pageSize}
        }]]>
    </property>
</properties>